<section class="m-3">
  <div class="row g-4">
    <div class="col-lg-2 col-md-3 col-sm-6" *ngFor="let item of products | paginate: { id: 'productPaginate',
    itemsPerPage: pageSize,
    currentPage: currentPage,
    totalItems: total }">
      <div class="product p-2">
        <div class="cursor-pointer" [routerLink]="['/details', item._id]">
          <img
            [src]="item.imageCover"
            height="200"
            class="w-100 pb-2"
            [alt]="item.title"
          />
          <h2 class="h6 text-main">{{ item.category.name }}</h2>
          <p class="font-sm">
            {{ item.title.split(" ").slice(0, 2).join(" ") }}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ item.price | currency }} </span>
            <span
              ><i class="fa-solid fa-star" style="color: #ffd43b"></i
              >{{ item.ratingsAverage }}</span
            >
          </div>
        </div>
        <button class="btn-main w-100">Add Product</button>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <pagination-controls  id="productPaginate"
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      [maxSize]="9"
                      [directionLinks]="true"
                      [autoHide]="true"
                      [responsive]="true"
                      previousLabel="Previous"
                      nextLabel="Next"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page">
</pagination-controls>
    </div>
  </div>
</section>
