<section class="w-75 mx-auto bg-light p-3 my-5">
  <h3>Shop Cart</h3>
  <h4 class="h6 text-main">
    Total Price:{{ cartDetails.totalCartPrice | currency }}
  </h4>
  <div class="row border-bottom py-3" *ngFor="let item of cartDetails.products">
    <div class="col-md-2">
      <div>
        <img
          [src]="item.product.imageCover"
          class="w-75"
          [alt]="item.product.title"
        />
      </div>
    </div>
    <div class="col-md-10">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h2 class="h5">{{ item.product.title }}</h2>
          <h3 class="h6">{{ item.product.brand.name }}</h3>
          <h4 class="h6 text-main">Price:{{ item.price }}</h4>
          <button class="btn p-0 m-0" (click)="removeItem(item.product._id)">
            <i class="fa-regular fa-trash-can px-1 text-main"></i>Remove
          </button>
        </div>
        <div>
          <span
            (click)="updateCart(item.product._id, item.count + 1)"
            class="border p-2 cursor-pointer"
            >+</span
          >
          <span class="px-2">{{ item.count }}</span>
          <span
            (click)="updateCart(item.product._id, item.count - 1)"
            class="border p-2 cursor-pointer"
            >-</span
          >
        </div>
      </div>
    </div>
  </div>
  <button
    class="btn btn-main mt-3"
    [routerLink]="['/payment', cartDetails._id]"
  >
    online Payment <img src="./assets/images/visa-1.svg" alt="visa" />
  </button>
  <button class="btn btn-main mt-3 mx-3" >
    cash Payment <img src="./assets/images/visa-1.svg" alt="visa" />
  </button>
</section>
