<section class="w-75 mx-auto bg-light p-3 my-5">
  <h3>Wish List</h3>

  <div class="row border-bottom py-3" *ngFor="let item of wishLIstDetails">
    <div class="col-md-2">
      <div>
        <img [src]="item.imageCover" class="w-75" [alt]="item.title" />
      </div>
    </div>
    <div class="col-md-10">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h2 class="h5">{{ item.title }}</h2>
          <h3 class="h6">{{ item.brand.name }}</h3>
          <h4 class="h6 text-main">Price:{{ item.price | currency }}</h4>
          <button class="btn p-0 m-0" (click)="removeItem(item._id)">
            <i class="fa-regular fa-trash-can px-1 text-main"></i>Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
