<section class="mt-4">
  <div class="row g-0">
    <div class="col-md-8">
      <owl-carousel-o [options]="mainSlider">
        <ng-template carouselSlide
          ><img
            height="300"
            class="w-100"
            src="./assets/images/main-slider-1.jpeg"
            alt="slide"
        /></ng-template>
        <ng-template carouselSlide
          ><img
            height="300"
            class="w-100"
            src="../assets/images/main-slider-2.jpeg"
            alt="slide"
          />
        </ng-template>
        <ng-template carouselSlide>
          <img
            height="300"
            class="w-100"
            src="./assets/images/main-slider-3.jpeg"
            alt="slide"
        /></ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-4">
      <img
        height="150"
        class="w-100"
        src="../../../assets/images/blog-img-1.jpeg"
        alt="slide"
      />
      <img
        height="150"
        class="w-100"
        src="../../../assets/images/blog-img-2.jpeg"
        alt="slide"
      />
    </div>
  </div>
</section>

<section class="my-4">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of Category">
      <ng-template carouselSlide>
        <img
          class="w-100"
          [src]="slide.image"
          height="200"
          [alt]="slide.name"
          [title]="slide.name"
        />
        <h3 class="h6 my-2">{{ slide.name }}</h3>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</section>

<section class="m-3">
  <input
    type="search"
    class="form-control w-75 mx-auto my-3"
    placeholder="Search..."
    [(ngModel)]="textSearch"
  />
  <div class="row g-4">
    <div
      class="col-lg-2 col-md-3 col-sm-6"
      *ngFor="
        let item of products
          | paginate
            : {
                id: 'productPaginate',
                itemsPerPage: pageSize,
                currentPage: currentPage,
                totalItems: total
              }
          | search : textSearch
      "
    >
      <div class="product p-2">
        <i
          (click)="addFav(item._id)"
          class="fa-regular fa-heart cursor-pointer"
        ></i>
        <div [routerLink]="['/details', item._id]" class="cursor-pointer">
          <img
            [src]="item.imageCover"
            height="200"
            class="w-100 pb-2"
            [alt]="item.title"
          />
          <h2 class="h6 text-main">{{ item.category.name }}</h2>
          <p class="font-sm">
            {{ item.title.split(" ").slice(0, 2).join(" ") }}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <span>{{ item.price | currency }}</span>
            <span
              ><i class="fa-solid fa-star" style="color: #ffd43b"></i
              >{{ item.ratingsAverage }}</span
            >
          </div>
        </div>
        <button class="btn-main w-100" (click)="addCart(item._id)">
          Add Product
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <pagination-controls
        id="productPaginate"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        [maxSize]="9"
        [directionLinks]="true"
        [autoHide]="true"
        [responsive]="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
  </div>
</section>
